* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    margin-bottom: 60px;
    color: #642a63;
    font-size: 3rem;
    text-align: center;
}

/*Header*/

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #360033;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0b88939d, #360033a1), url(./assets/images/pexels-giorgio-de-angelis-1413412.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0b88939d, #360033a1), url(./assets/images/pexels-giorgio-de-angelis-1413412.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

nav {
    padding: 30px 50px 0 0;
    text-align: right;
}

nav > a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    flex-direction: column;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 200px;
}

.textos-header h1 {
    font-size: 5rem;
    color: white;
}

.textos-header h2 {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    padding-top: 100px;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*about us*/

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us {
    width: 48%;
}

.sobre-nosotros .contenido-textos {
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 15px;
    font-size: 2rem;
}

.contenido-textos h3 span {
    background: #4d0686;
    color: white;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    font-size: 1.6rem;
    margin-right: 10px;
}

.contenido-textos p {
    padding: 0 0 30px 15px; 
    font-size: 1.6rem;
    font-weight: 300;
    text-align: justify;
}

/*galeria*/

.portafolio {
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port {
    width: 24%;
    height: 180px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(255, 255, 255, 0.562);
    transition: transform .5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p {
    color: black;
    font-size: 1.6rem;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*Clientes*/

.cards {
    display: flex;
    justify-content: space-evenly;
}

.cards .card {
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card {
    width: 60%;
    color: white;
}

.contenido-texto-card h4{
    font-size: 2rem;
}

.contenido-texto-card p{
font-size: 1.4rem;
}

.card .card > .contenido-texto-card p{
    font-weight: 200;
    padding-top: 5px;
}

/*our team*/
.about-services{
    background: #f2f2f2;
    padding-bottom: 30px;
}

.servicio-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img {
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
    font-size: 2rem;
}

.servicio-ind p{
    font-size: 1.4rem;
}

.contenido-textos p{
    font-weight: 300;
    text-align: justify;
}

/*Footer*/

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid#ccc;
}

.content-foo {
    text-align: center;
}

.content-foo h4{
    color: white;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 2rem;
}

.content-foo p{
    color: #ccc;
    font-size: 1.4rem;
}

.titulo-final{
    text-align: center;
    font-size: 2.4rem;
    margin: 20px 0 0 0;
    color: #9e9797;
}

@media(max-width:900px){
    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos{
        width: 90%;
    }

    .imagen-about-us{
        width: 90%;
    }

    /*Galeria*/

    .imagen-port{
        width: 44%;
    }

    /*Clientes*/
    .cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .cards .card{
        width: 90%;
    }

    .cards .card:first-child{
        margin-bottom: 30px;
    }
    
    .servicio-cont{
        flex-direction: column;
        justify-content: center;
    }

    .servicio-ind{
        width: 100%;
        text-align: center;
    }

    .servicio-ind:nth-child(1), .servicio-ind:nth-child(2){
        margin-bottom: 60px;
    }

    .servicio-ind img {
        width: 90%;
    }
}

@media(max-width:418px){
    nav{
        display: none;
    }
}